<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar>
    <span>My Application</span>
</mat-toolbar>

  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>        
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Caldera">
      </mat-form-field>

    </div>

    <div class="button-row">
        <button mat-raised-button><mat-icon>delete</mat-icon></button>
        <button mat-raised-button><mat-icon>print</mat-icon></button>
    </div>

    <mat-table #table [dataSource]="dataSource">  
      <!-- Position Column -->
        <ng-container matColumnDef="seleccionado">
            <mat-header-cell *matHeaderCellDef> Selec. </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <mat-checkbox> </mat-checkbox>  
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef> Codigo. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripcion. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> Tipo. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accion">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button><mat-icon>delete</mat-icon></button>  
                <button mat-button><mat-icon>assignment</mat-icon></button>  
            </mat-cell>
    </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


